<div class="span9 offset2" style="margin-top: 10%;background: rgba(255,255,255,0.6); padding: 5%">
  <div class="span9">
    <h3 style="margin-top: 2%; color: black;">Sorry, but please go find your music somewhere else.</h3>
    <h4>Music I Think You Might Like: Antlers ('I don't want love'), Twin Shadow ('Golden Light' is amazing), Cults, Beulah (my favorite throughout high school... every album is great),  The Walkmen ('The Rat'), No Joy, Metric (also high school fav), Super Fury Animals ('Zoom' is beautiful), Lower Dens (amazing, but might not be your style... 'I get Nervous' and 'Brains' ), Caribou ('Melody Day' and 'Odessa' to start), The Pains of Being Pure At Heart ('Belong'), Chromatics('Kill For Love'), Beach House, The Brian Jonestown Massacre ('Anemone', 'Straight up and Down', 'Starcleaner', everything really)</h4>
    <h4>Also...</h4>
<h4><a href="http://vimeo.com/22845157">Wise Blood Live</a></h4>
<h4><a href="https://soundcloud.com/dovecote-records/rat/s-dhwGn">New Wise Blood track</a></h4>
<h4><a href="https://soundcloud.com/jollyyjackk/that-awful-sound">Jackson Scott (dude that opened for deerhunter)</a></h4>
<h4> Guess that about does it.  Peace. </h4>
  </div>
</div>