
<div class="row albums-container">
	<div class= "albums-div" style = "margin-top: 5%">
		<%= render @albums %>
	</div>
  <div class="info-div">
    <div class="now-playing-div">
      <div class="title-div">
        <h3>Now Playing:</h3>
        <h5>Nothing is Currently Playing</h5>
      </div>
      <div class="description-div">
        <p>Click on an Album to Start Listening</p>
      </div>
    </div>
  </div>
	<div id="player" style="position: absolute; left: -2000px"></div>
</div>


