
<div class="row albums-container">
	<div class= "albums-div" style = "margin-top: 5%">
		<%= render @albums %>
	</div>
  <div class="now-playing-div">
    <h3>Now Playing</h3>
    <h5>Nothing is Currently Playing</h5>
    <div class="description-div">
      <p></p>
    </div>
  </div>
	<div id="player"></div>
</div>


