/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

 body{
	 background: url("record_store.jpg");
	 background-size: 100%;
 }
 
 .albums-container{
   min-width: 1300px;
   background: rgba(255, 255, 255, .2);
   width: 100%;
 }
 
 .albums-div{
   max-width: 82%;
   float: left;
   overflow: scroll;
 }

 
 .now-playing-div{
   float: left;
   font-family: 'Amatic SC', cursive;
   color: black;
   font-size: 30pt;
   line-height: 40pt;
   width: 18%;
   margin-top: 8%;
 }
 
 .title-div{
   background: rgba(0, 0, 0, 0.6);
   color: #a1b7ff;
   padding: 5px;
   padding-bottom: 4px;
   padding-left: 8px;
 }
 .now-playing-div h3{
   font-size: 40pt;
   line-height: 40pt;
 }
 
 .now-playing-div h5{
   font-size: 30pt;
   line-height: 30pt;
 }
 
 .now-playing-div p{
   font-size: 20pt;
   line-height: 30pt;
 }
 .description-div{
   max-height: 500px;
   overflow:scroll;
   color: #f4836c;
   font-weight: bold;
   background: rgba(0, 0, 0, 0.6);
   padding: 5px;
   padding-left: 8%;
   margin-top: 15%;
 }

 .play-track, .front-play-track, .next-track, .prev-track{
	 position: absolute;
	 color: #eaeaea;
	 margin-left: 260px;
	 margin-right: auto;
	 margin-top: 210px;
	 cursor: pointer;
	 visibility:visible;
 }
 
 .nav-controls i{
   color: #b8b8b8;
	 cursor: pointer;
	 visibility: visible;
   margin: 10px;
   margin-top: 5px;
 }
 
 .nav-controls i:hover{
   color: #ebebeb;
 }
 
 .nav-controls{
    position: absolute;
    right: 230px;
 }
 
 .prev-track{
	 margin-left: 345px;
 }
 
 .front-play-track{
   visibility: hidden;
   font-size: 150px;
   text-align: center;
   left: -30px !important;
   top: -40px;
 }
 
 .play-track{
   -webkit-transform: rotateY( 180deg );
  right: 245px !important;
 }
 
 .next-track{
	 margin-left: 155px;
 }
 
 .play-track:hover, .front-play-track:hover, .next-track:hover, .prev-track:hover{
	 color: #d3d3d3;
 }
 
 .play-track:active, .next-track:active, .prev-track:active{
	 color: #535353;
 }
 
 .lcd-div{
	 text-align: center;
   float: right;
	 height: 20px;
   margin-right: 20px;
	 padding: 14px; 
	 background: #d6eee2;
	 box-shadow: 0px 0px 2px #7b8982;
 }
 
 .lcd-type{
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 25pt;
	line-height: 18pt;
 }
 .navbar-inner{
	 padding: 10px;
 }
 
 .navbar-inner .brand{
	 margin-left: 10px;
 }
 
 .brand{
	 font-size: 50px !important;
	 font-family: 'Amatic SC', cursive;
	 color: #fcf692 !important;
 }
 
 .nav li a{
	 font-size: 14px;
	 color: black !important;
 }
 
 .invisible-overlay{
   position: absolute;
   
   height: 100%;
   width: 100%;
 }
 
 .cover-loader{
   position: absolute;
   display: none;
 }
 
 .album-result{
   color: white; 
   text-shadow: 2px 2px black; 
   text-decoration: none; 
   font-size: 20pt; 
   font-weight: bold;
 }
 
 .album-result:hover{
   color: #94b7fb;
   text-decoration: none;
   text-shadow: 2px 2px grey; 
 }